[submodule "pyCoding"]
	path = pyCoding
	url = https://github.com/FrancoisCharette/pyCoding.git
[submodule "dataViewer"]
	path = dataViewer
	url = https://github.com/FrancoisCharette/qtApps.git
	branch = dataViewer
[submodule "aimlApp"]
	path = aimlApp
	url = https://github.com/FrancoisCharette/qtApps.git
	branch = aimlApp
[submodule "lvCoding"]
	path = lvCoding
	url = https://github.com/FrancoisCharette/lvCoding.git
